RAG_TEST.json
{
  "name": "RAG_TEST",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1T3C0oTRXTI2HuCWczuLtm3vO5GCtgBO8",
          "mode": "list",
          "cachedResultName": "N8N_RAG_TEST",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1T3C0oTRXTI2HuCWczuLtm3vO5GCtgBO8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -16
      ],
      "id": "f6b02e34-57cf-4059-8660-c5f28fababf6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "czVPE4vA81KRPCz0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -16
      ],
      "id": "88527680-7858-422b-9069-3d9cdeed1e63",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "czVPE4vA81KRPCz0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "avn8nrag",
          "mode": "list",
          "cachedResultName": "avn8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        -16
      ],
      "id": "2755a5af-f2f3-40bd-b388-7bf099f217d9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "TJ6ncM3IoTpyNeGA",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "testrag",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        192
      ],
      "id": "a2223288-03ad-45a8-9d9d-1dd1d714cb64",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 120,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        512,
        368
      ],
      "id": "3fd0cd2f-5006-4b01-b2b7-bc6c43e8338c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "ea4daf6f-edb1-4685-b76a-8c8248f79e52",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "orRenDP29FSkf6xU",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02e1eb73-079e-4f0a-a1a3-c1c2e424d068",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72101537d06ed0d2dbdd9783b8167ba51e0c3fb5072d539c9aba6c4d75006e52"
  },
  "id": "J14st3oGpeTHb0wD",
  "tags": []
}